.date-dropdown__calendar {
  position: absolute;
  /* 토글 버튼 아래에 절대 위치로 표시 */
  top: calc(100% + 8px);
  left: 0;
  z-index: 100;
  padding: 8px;

  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

/* 년/월 네비게이션 헤더 */
.date-dropdown__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  width: 308px;
}

/* 이전/다음 달 버튼 */
.date-dropdown__nav {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  font-size: 16px;

  border: 1px solid #b6b9c1;
  border-radius: 5px;

  color: var(--color-black);
}

/* 월/년도 텍스트 */
.date-dropdown__month,
.date-dropdown__year {
  font-size: 16px;
  font-weight: 700;

  color: var(--color-black);
}

/* 요일 공통 */
.date-dropdown__weekday {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  font-size: 16px;
}

.date-dropdown__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 44px);
}

/* 월~금 */
.date-dropdown__weekday--weekday {
  font-weight: 700;
  color: var(--color-black);
}

/* 토, 일 */
.date-dropdown__weekday--weekend {
  font-weight: 300;
  color: #d5d8de;
}

.date-dropdown__days {
  display: grid;
  grid-template-columns: repeat(7, 44px);
}

/* 요일 텍스트 */
.date-dropdown__weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  font-size: 16px;

  color: var(--color-black);
}

/* 날짜 버튼 */
.date-dropdown__day {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  font-size: 16px;
  font-weight: 300;

  color: var(--color-black);
  border-radius: 100px;
}

/* 선택 날짜 강조 */
.date-dropdown__day--selected {
  background-color: var(--color-main);
  color: var(--color-background);
}

/* 현재 달의 토, 일 */
.date-dropdown__day--weekend {
  color: #d5d8de;
}

/* 이전/다음 달 날짜 */
.date-dropdown__day--other {
  color: #d5d8de;
}

.date-dropdown__day--disabled {
  color: #d5d8de;
  cursor: default;
}
