.floor-dropdown__list {
  position: absolute;
  top: calc(100% + 8px);
  left: auto;
  right: 0;
  z-index: 100;
  width: 120px;

  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  border-radius: 6px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.floor-dropdown__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px 12px 16px;
}

.floor-dropdown__header-text {
  font-size: 16px;
  color: #2d3648;
  line-height: 1.5;
}

/* 열린 상태 화살표 */
.floor-dropdown__header-icon--open {
  transform: rotate(180deg);
  width: 20px;
  height: 20px;
}

/* 구분선 */
.floor-dropdown__divider {
  height: 1px;
  background-color: var(--color-gray);
}

/* 항목 목록 */
.floor-dropdown__items {
  display: flex;
  flex-direction: column;
}

/* 항목 버튼 */
.floor-dropdown__item {
  width: 100%;
  padding: 16px;
  font-size: 16px;

  color: #2d3648;
  text-align: left;
  line-height: 1.5;
}

/* 선택 층 강조 */
.floor-dropdown__item--selected {
  background-color: color-mix(in srgb, var(--color-main) 50%, transparent);
  color: #2d3648;
}
