.floor-map {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.floor-map__board {
  position: relative;
  width: 100%;

  background-color: var(--color-white);
}

.floor-map__image {
  width: 100%;
  height: auto;
}
