.floor-map {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.floor-map__board {
  position: relative;
  width: 100%;

  background-color: var(--color-white);
<<<<<<< HEAD
}

.floor-map__image {
  width: 100%;
  height: auto;
=======
  border: 1px solid var(--color-black);
>>>>>>> 6e7a906 (design : 플로어맵 스타일 적용 (#19))
}
