.button-default {
  width: 300px;
  height: 52px;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-main);
  color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

.button-default:disabled {
  cursor: default;
  opacity: 0.6;
}
