.time-dropdown__list {
  position: absolute;
  top: calc(100% + 8px);
  left: auto;
  right: 0;
  z-index: 100;
  width: 120px;

  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  border-radius: 6px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.time-dropdown__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px 12px 16px;
}

.time-dropdown__header-text {
  font-size: 16px;
  color: #2d3648;
  line-height: 1.5;
}

/* 열린 상태 화살표 */
.time-dropdown__header-icon--open {
  transform: rotate(180deg);
  width: 20px;
  height: 20px;
}

/* 구분선 */
.time-dropdown__divider {
  height: 1px;
  background-color: var(--color-gray);
}

/* 항목 목록 */
.time-dropdown__items {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
}

/* 항목 버튼 */
.time-dropdown__item {
  width: 100%;
  padding: 16px;
  font-size: 16px;

  color: #2d3648;
  text-align: left;
  line-height: 1.5;
}

/* 선택 시간 강조 */
.time-dropdown__item--selected {
  background-color: color-mix(in srgb, var(--color-main) 50%, transparent);
  color: #2d3648;
}

/* 현재 시간보다 이전 시간대 */
.time-dropdown__item--disabled {
  color: #d5d8de;
  cursor: default;
}
