.main-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  background-color: var(--color-background);
}

.main-page__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
  padding: 48px 0;
  gap: 48px;
}

.main-page__filter {
  padding: 0 24px;
}

.main-page__floor-map {
  padding: 0 40px;
}
