.student-verification {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
}

.student-verification__container {
  width: 100%;
  max-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 144px 37px 0;
  box-sizing: border-box;
  background-color: var(--color-background);
}

.student-verification__title-area {
  margin-top: 40px;
}

.student-verification__title {
  margin: 0;
  color: var(--color-main);
  font-size: 22px;
  font-weight: 700;
}

.student-verification__description {
  margin: 10px 0 0;
  color: var(--color-sub);
  font-size: 11px;
  font-weight: 400;
}

.student-verification__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
